@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Press+Start+2P&family=Trispace&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  --gameboard-dims: clamp(200px, 80vw, 600px);
  --main-font: "Press Start 2P";
  --modal-actual-bg: rgba(228, 228, 249, 0.6);

  background: linear-gradient(120deg, pink, blue);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: var(--main-font);
}

.modal {
  display: block;
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-actual-bg);
}
.modal-close {
  align-self: flex-end;
}
.modal-close:hover {
  color: black;
  cursor: pointer;
}
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: pink;
  width: 300px;
  position: fixed;
  top: 25vh;
  left: calc(50vw - 150px);
  border: 2px solid black;
  border-radius: 5px;
  z-index: 2;
  text-align: center;
  color: slategray;
  padding: 10px;
}
button {
  padding: 5px;
  font-family: var(--main-font);
  background-color: blue;
  color: white;
}
.modal-gamepiece {
}

.title {
  text-align: center;
  padding: 5vh 0vh;
  font-size: 1.5rem;
}
.player-turn {
  font-size: 1rem;
  text-align: center;
  line-height: 25px;
}
.game-board {
  display: grid;
  width: var(--gameboard-dims);
  height: var(--gameboard-dims);
  margin: 0 auto;
  padding-top: 5vh;
}

.game-tile {
  /* width: clamp(100px, 20vw, 150px);
  height: clamp(100px, 40vw, 200px); */
  border: 1px solid black;
  text-align: center;
  padding: 25%;

  font-size: clamp(20px, 5vw, 5rem);
}
