@import url("https://fonts.googleapis.com/css2?family=Inconsolata&family=Press+Start+2P&family=Trispace&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  --gameboard-dims: clamp(200px, 80vw, 600px);
  --main-font: "Press Start 2P";
  --modal-actual-bg: rgba(192, 159, 245, 0.6);
  --box-shadow: 3px 3px 10px #2d2e30;

  background: linear-gradient(120deg, pink, blue);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-family: var(--main-font);
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~MODAL~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.modal {
  display: none;
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-actual-bg);
}
/* .modal-close {
  align-self: flex-end;
} */
/* .modal-close:hover {
  color: black;
  cursor: pointer;
} */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(120deg, pink, blue);
  width: 300px;
  height: 250px;
  position: fixed;
  top: 25vh;
  left: calc(50vw - 150px);
  box-shadow: var(--box-shadow);
  border-radius: 5px;
  z-index: 2;
  text-align: center;
  color: white;
  line-height: 35px;
  padding: 10px;
}
button {
  padding: 20px;
  margin: 20px;
  font-family: var(--main-font);
  font-size: 1rem;
  background-color: blue;
  color: white;
  border-radius: 5px;
  border: none;
  box-shadow: var(--box-shadow);
}
button:hover {
  background-color: rgb(192, 159, 245);
  color: black;
  cursor: pointer;
  transform: translateY(3px);
}
button:active {
  transform: translateY(0px);
}
.modal-gamepiece {
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ MAIN ~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.title {
  text-align: center;
  padding: 5vh 0vh;
  font-size: 1.5rem;
}
.player-turn {
  font-size: 1rem;
  text-align: center;
  line-height: 25px;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ GAME BOARD ~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.game-board {
  display: grid;
  width: var(--gameboard-dims);
  height: var(--gameboard-dims);
  margin: 0 auto;
  margin-top: 5vh;
  box-shadow: var(--box-shadow);

  border-radius: 10px;
}
.game-tile {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  font-size: clamp(20px, 5vw, 5rem);
  color: blue;
  background-color: rgb(223, 215, 215);
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~ BUTTONS ~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.restart button {
  padding: 5px;
  font-size: 0.5rem;
  background-color: white;
}

#portfolio {
  display: none;
}
